body {
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid; }

.header-name {
  font-family: 'Josefin Sans', sans-serif;
  color: #4CB393;
  padding-left: 150px;
  font-size: 26px; }

.notification {
  padding-left: 700px; }

.calender {
  padding-left: 20px; }

.vertical-line {
  border: 1px solid;
  height: 20px;
  border-color: #ccc;
  margin-left: 20px; }

.dp {
  padding-left: 20px; }

.name {
  font-family: 'Josefin Sans', sans-serif;
  color: #4CB393;
  padding-left: 20px;
  font-size: 18px; }

.navbar-header a {
  padding-left: 200px; }

.form-control {
  background-color: black !important;
  opaticity: 0.9;
  border-color: black !important; }

.search_btn {
  background-color: black !important;
  opaticity: 0.9;
  border-color: black !important; }

.user-div {
  border-div: 1px solid; }
  .user-div .user {
    color: #959CA1;
    position: relative;
    float: left; }
  .user-div .sm-user {
    padding-left: 10px;
    color: #959CA1;
    font-size: 12px; }
  .user-div .fa-cog {
    color: #959CA1; }
  .user-div .set_symbol {
    position: relative;
    float: right;
    margin-top: 25px; }

.content-div {
  background-color: #ccc;
  height: 900px;
  padding-top: 20px; }
  .content-div .main-div-1 {
    width: 260px;
    height: 700px;
    margin-left: 150px;
    margin-top: 20px;
    display: inline-block;
    float: left; }
    .content-div .main-div-1 .div-1-1 {
      height: 350px;
      width: 258px;
      margin-top: 10px;
      background-color: #FFFFFF; }
      .content-div .main-div-1 .div-1-1 .profile-img {
        margin-left: 80px;
        margin-top: 25px; }
      .content-div .main-div-1 .div-1-1 h4 {
        margin-left: 90px; }
      .content-div .main-div-1 .div-1-1 h6 {
        margin-left: 90px;
        color: #72B5E1; }
      .content-div .main-div-1 .div-1-1 .btn-1 {
        border-radius: 8px;
        background-color: #44B4AD;
        font-size: 10px;
        margin-left: 70px;
        color: #FFFFFF;
        text-align: center;
        border: 1px solid #44B4AD; }
      .content-div .main-div-1 .div-1-1 .btn-2 {
        border-radius: 8px;
        background-color: #F3565D;
        font-size: 10px;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #F3565D; }
      .content-div .main-div-1 .div-1-1 .list-home {
        list-style-type: none;
        margin-left: 0 !important;
        vertical-align: top;
        margin-top: 25px;
        height: 30px; }
        .content-div .main-div-1 .div-1-1 .list-home .home {
          color: #A1ACC9;
          margin-left: 35px; }
      .content-div .main-div-1 .div-1-1 .list-home:hover {
        border-left: 1px solid #A1ACC9;
        background-color: #F5F9FC; }
      .content-div .main-div-1 .div-1-1 .list-set {
        list-style-type: none;
        margin-left: 0 !important;
        vertical-align: top;
        height: 30px; }
        .content-div .main-div-1 .div-1-1 .list-set .cog {
          color: #A1ACC9;
          margin-left: 35px; }
      .content-div .main-div-1 .div-1-1 .list-set:hover {
        border-left: 1px solid #A1ACC9;
        background-color: #F5F9FC; }
      .content-div .main-div-1 .div-1-1 .list-task {
        list-style-type: none;
        margin-left: 0 !important;
        vertical-align: top;
        height: 30px; }
        .content-div .main-div-1 .div-1-1 .list-task .clock {
          color: #A1ACC9;
          margin-left: 35px; }
      .content-div .main-div-1 .div-1-1 .list-task:hover {
        border-left: 1px solid #A1ACC9;
        background-color: #F5F9FC; }
      .content-div .main-div-1 .div-1-1 .list-help {
        list-style-type: none;
        margin-left: 0 !important;
        vertical-align: top;
        height: 30px; }
        .content-div .main-div-1 .div-1-1 .list-help .help {
          color: #A1ACC9;
          margin-left: 35px; }
      .content-div .main-div-1 .div-1-1 .list-help:hover {
        border-left: 1px solid #A1ACC9;
        background-color: #F5F9FC; }
    .content-div .main-div-1 .div-1-2 {
      border: 1px solid #FFFFFF;
      height: 285px;
      width: 258px;
      margin-top: 20px;
      background-color: #FFFFFF; }
      .content-div .main-div-1 .div-1-2 .div-1-2-child1 {
        height: 55px;
        margin-top: 30px; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div1 {
          display: inline-block;
          height: 55px;
          width: 80px;
          float: left; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div1 .child1-div1-h3 {
            text-align: center;
            color: #C2C2CB;
            margin: 0 !important;
            padding: 0 !important; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div1 .child1-div1-h6 {
            text-align: center;
            color: #5C9BD0;
            font-size: 10px !important;
            margin: 0 !important;
            padding: 0 !important;
            font-weight: bold; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div2 {
          display: inline-block;
          height: 55px;
          width: 80px; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div2 .child1-div2-h3 {
            text-align: center;
            color: #C2C2CB;
            margin: 0 !important;
            padding: 0 !important; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div2 .child1-div2-h6 {
            text-align: center;
            color: #5C9BD0;
            font-size: 10px !important;
            margin: 0 !important;
            padding: 0 !important;
            font-weight: bold; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div3 {
          display: inline-block;
          height: 55px;
          width: 80px; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div3 .child1-div3-h3 {
            text-align: center;
            color: #C2C2CB;
            margin: 0 !important;
            padding: 0 !important; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child1 .child1-div3 .child1-div3-h6 {
            text-align: center;
            color: #5C9BD0;
            font-size: 10px !important;
            margin: 0 !important;
            padding: 0 !important;
            font-weight: bold; }
      .content-div .main-div-1 .div-1-2 .div-1-2-child2 {
        height: 70px;
        width: 220px;
        margin-left: 10px; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child2 .child2-h4 {
          color: #7F8FA7;
          font-weight: bold; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child2 .child2-h5 {
          color: #7F8FA7;
          margin: 0 !important;
          padding: 0 !important; }
      .content-div .main-div-1 .div-1-2 .div-1-2-child3 {
        width: 220px;
        margin-left: 10px;
        height: 90px; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child3 .ch3-symb1 {
          height: 35px; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child3 .ch3-symb1 .symb1 {
            margin-left: 20px;
            color: #7F8FA7; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child3 .ch3-symb2 {
          height: 35px; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child3 .ch3-symb2 .symb2 {
            margin-left: 20px;
            color: #7F8FA7; }
        .content-div .main-div-1 .div-1-2 .div-1-2-child3 .ch3-symb3 {
          height: 35px; }
          .content-div .main-div-1 .div-1-2 .div-1-2-child3 .ch3-symb3 .symb3 {
            margin-left: 20px;
            color: #7F8FA7; }
  .content-div .main-div-2 {
    width: 380px;
    height: 700px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block; }
    .content-div .main-div-2 .div-2-1 {
      height: 320px;
      width: 370px;
      background-color: #FFFFFF;
      margin-top: 10px; }
      .content-div .main-div-2 .div-2-1 h6 {
        color: #72B5E1;
        margin-left: 20px;
        margin-top: 20px;
        font-weight: bold; }
      .content-div .main-div-2 .div-2-1 .btn-2-1 {
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: 60px;
        margin-top: 10px; }
      .content-div .main-div-2 .div-2-1 .btn-2-1:hover {
        background-color: black;
        border-radius: 8px;
        color: #FFFFFF; }
      .content-div .main-div-2 .div-2-1 .btn-2-2 {
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: 15px;
        margin-top: 10px; }
      .content-div .main-div-2 .div-2-1 .btn-2-2:hover {
        background-color: black;
        border-radius: 8px;
        color: #FFFFFF; }
      .content-div .main-div-2 .div-2-1 .btn-2-3 {
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: 15px;
        margin-top: 10px; }
      .content-div .main-div-2 .div-2-1 .btn-2-3:hover {
        background-color: black;
        border-radius: 8px;
        color: #FFFFFF; }
      .content-div .main-div-2 .div-2-1 .h-line-1 {
        border-top: 1px solid;
        border-color: #CCDDE8; }
      .content-div .main-div-2 .div-2-1 .graph-div-1 {
        margin-top: 5px;
        width: 165px;
        height: 45px;
        padding-left: 20px;
        margin-left: 20px; }
        .content-div .main-div-2 .div-2-1 .graph-div-1 .header-name-1 {
          margin-top: 10px;
          display: inline-block;
          float: left; }
        .content-div .main-div-2 .div-2-1 .graph-div-1 .total {
          margin: 0;
          padding: 0;
          color: #8D9BA9; }
        .content-div .main-div-2 .div-2-1 .graph-div-1 .num {
          margin: 0;
          padding: 0;
          color: #8D9BA9; }
        .content-div .main-div-2 .div-2-1 .graph-div-1 .graph-1 {
          float: right;
          display: inline-block; }
          .content-div .main-div-2 .div-2-1 .graph-div-1 .graph-1 .bar-right {
            margin-left: 0 !important;
            padding-left: 0 !important;
            margin-right: 20px;
            margin-top: 10px;
            color: #F36A5A;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg); }
      .content-div .main-div-2 .div-2-1 .graph-div-2 {
        border-left: 1px solid #F8F8F8;
        margin-top: 5px;
        width: 165px;
        height: 45px; }
        .content-div .main-div-2 .div-2-1 .graph-div-2 .header-name-2 {
          margin-top: 10px;
          float: right; }
        .content-div .main-div-2 .div-2-1 .graph-div-2 .total {
          margin: 0;
          padding: 0;
          color: #8D9BA9; }
        .content-div .main-div-2 .div-2-1 .graph-div-2 .num {
          margin: 0;
          padding: 0;
          color: #8D9BA9; }
        .content-div .main-div-2 .div-2-1 .graph-div-2 .graph-2 {
          float: left;
          display: inline-block; }
          .content-div .main-div-2 .div-2-1 .graph-div-2 .graph-2 .bar-left {
            margin-left: 30px !important;
            margin-top: 10px;
            color: #5C9AD0;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg); }
      .content-div .main-div-2 .div-2-1 .th-div-2-1 {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: #8D9BA9; }
      .content-div .main-div-2 .div-2-1 .td-div-2-1 {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd; }
        .content-div .main-div-2 .div-2-1 .td-div-2-1 .name-pr {
          color: #5C9AD0;
          margin-left: 2px;
          display: inline-block; }
        .content-div .main-div-2 .div-2-1 .td-div-2-1 .data {
          color: #8D9BA9; }
        .content-div .main-div-2 .div-2-1 .td-div-2-1 .data-rate {
          color: #4CB393; }
    .content-div .main-div-2 .div-2-2 {
      height: 330px;
      width: 370px;
      background-color: #FFFFFF;
      margin-top: 20px; }
      .content-div .main-div-2 .div-2-2 .div-2-2-child1 {
        border-bottom: 1px solid #A2A0A6;
        margin-left: 10px;
        margin-right: 5px;
        height: 50px; }
        .content-div .main-div-2 .div-2-2 .div-2-2-child1 .child1-2-div1 {
          display: inline-block;
          float: left; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child1 .child1-2-div1 .child1-2-h5 {
            color: #72B5E1;
            margin-5eft: 10px;
            margin-top: 10px;
            font-weight: bold;
            font-size: 15px !important; }
        .content-div .main-div-2 .div-2-2 .div-2-2-child1 .child1-2-div2 {
          display: inline-block;
          float: left; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child1 .child1-2-div2 .child1-2-h6 {
            margin-left: 3px;
            color: #A2A0A6;
            margin-top: 15px; }
        .content-div .main-div-2 .div-2-2 .div-2-2-child1 .child1-2-div3 {
          display: inline-block;
          float: left; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child1 .child1-2-div3 .frm-control {
            width: 80px;
            color: #FFFFFF;
            background-color: #F2F3F8;
            border: 1px solid #F2F3F8; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child1 .child1-2-div3 .srch-btn {
            height: 23px;
            background-color: #F2F3F8;
            border: 1px solid #F2F3F8;
            color: #A2A0A6; }
      .content-div .main-div-2 .div-2-2 .div-2-2-child2 {
        height: 270px;
        margin-top: 5px; }
        .content-div .main-div-2 .div-2-2 .div-2-2-child2 .child2-div1 {
          border-bottom: 1px solid #F2F3F8;
          margin-left: 5px;
          height: 90px; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child2 .child2-div1 .a {
            margin-left: 3px;
            color: #588DBD;
            font-size: 12px;
            font-weight: bold; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child2 .child2-div1 .b {
            color: #8E9ABE;
            margin-left: 20px;
            font-size: 12px; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child2 .child2-div1 .c {
            color: #8E9ABE;
            margin-left: 150px;
            font-size: 12px; }
          .content-div .main-div-2 .div-2-2 .div-2-2-child2 .child2-div1 .d {
            margin: 0 !important;
            padding: 0 !important;
            color: #8E9ABE; }
  .content-div .main-div-3 {
    width: 380px;
    height: 700px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block; }
    .content-div .main-div-3 .div-3-1 {
      height: 320px;
      width: 370px;
      background-color: #FFFFFF;
      margin-top: 10px; }
      .content-div .main-div-3 .div-3-1 .child-div {
        height: 310px;
        width: 350px;
        background-color: #FFFFFF;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px; }
        .content-div .main-div-3 .div-3-1 .child-div .div-3-1-hline {
          border-bottom: 1px solid #8D9BA9; }
        .content-div .main-div-3 .div-3-1 .child-div .div-3-1-h5 {
          color: #72B5E1;
          margin-left: 20px;
          font-weight: bold; }
        .content-div .main-div-3 .div-3-1 .child-div .div-3-1-btn1 {
          height: 38px;
          width: 80px;
          margin-left: 110px;
          border: none;
          background-color: #FFFFFF; }
        .content-div .main-div-3 .div-3-1 .child-div .div-3-1-btn2 {
          height: 38px;
          width: 80px;
          border: none;
          background-color: #FFFFFF; }
        .content-div .main-div-3 .div-3-1 .child-div .div-3-1-btn1:hover {
          border-bottom: 3px solid #F3565D; }
        .content-div .main-div-3 .div-3-1 .child-div .div-3-1-btn2:hover {
          border-bottom: 3px solid #F3565D; }
      .content-div .main-div-3 .div-3-1 .child-div1 {
        margin-top: 10px;
        height: 200px; }
        .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-1 {
          background-color: #FAFAFA; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-1 .symb-1 {
            border: 1px solid;
            background-color: #4CB393;
            width: 32px;
            height: 32px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-1 .child-div1-h6 {
            margin-left: 6px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-1 .ch-td-btn {
            margin-left: 5px;
            height: 20px;
            text-align: center;
            background-color: #88C4F2;
            border: 1px solid #88C4F2;
            color: #FFFFFF; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-1 .ch-td1-sp {
            margin-left: 10px;
            font-style: italic;
            font-size: 12px;
            color: #8D9BA9; }
        .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-2 {
          background-color: #FAFAFA; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-2 .symb-2 {
            border: 1px solid;
            background-color: #4CB393;
            width: 32px;
            height: 32px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-2 .ch-td2-h6 {
            margin-left: 8px;
            color: #96BBE2; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-2 .ch-td2-sp {
            margin-left: 70px;
            font-style: italic;
            font-size: 12px;
            color: #8D9BA9; }
        .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-3 {
          background-color: #FAFAFA; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-3 .symb-3 {
            border: 1px solid;
            background-color: #F3565D;
            width: 32px;
            height: 32px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-3 .ch-td3-h6 {
            margin-left: 8px;
            width: 230px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-3 .ch-td3-sp {
            margin-left: 20px;
            font-style: italic;
            font-size: 12px;
            color: #8D9BA9; }
        .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-4 {
          background-color: #FAFAFA; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-4 .symb-4 {
            border: 1px solid;
            background-color: #88C4F2;
            width: 32px;
            height: 32px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-4 .ch-td4-h6 {
            margin-left: 8px;
            width: 230px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-4 .ch-td4-sp {
            margin-left: 20px;
            font-style: italic;
            font-size: 12px;
            color: #8D9BA9; }
        .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-5 {
          background-color: #FAFAFA; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-5 .symb-5 {
            border: 1px solid;
            background-color: #DFBA4B;
            width: 32px;
            height: 32px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-5 .ch-td5-h6 {
            margin-left: 8px;
            width: 230px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-5 .ch-td5-sp {
            margin-left: 15px;
            font-style: italic;
            font-size: 12px;
            color: #8D9BA9; }
        .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-6 {
          background-color: #FAFAFA; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-6 .symb-6 {
            border: 1px solid;
            background-color: #4CB393;
            width: 32px;
            height: 32px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-6 .ch-td6-h6 {
            margin-left: 8px;
            width: 230px; }
          .content-div .main-div-3 .div-3-1 .child-div1 .ch-tr-6 .ch-td6-sp {
            margin-left: 20px;
            font-style: italic;
            font-size: 12px;
            color: #8D9BA9; }
    .content-div .main-div-3 .div-3-2 {
      height: 330px;
      width: 370px;
      background-color: #FFFFFF;
      margin-top: 20px; }
      .content-div .main-div-3 .div-3-2 .div-3-2-child1 {
        border-bottom: 1px solid #F2F3F8;
        height: 50px; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child1 .child1-A {
          font-size: 16px;
          font-weight: bold;
          color: #588DBD;
          margin-left: 15px; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child1 .child1-B {
          color: #A2A0A6;
          margin-left: 5px; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child1 .fm-control {
          width: 100px;
          color: #FFFFFF;
          background-color: #F2F3F8;
          border: 1px solid #F2F3F8;
          margin-left: 60px; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child1 .srch-btn1 {
          height: 23px;
          background-color: #F2F3F8;
          border: 1px solid #F2F3F8;
          color: #A2A0A6; }
      .content-div .main-div-3 .div-3-2 .div-3-2-child2 {
        height: 250px;
        margin-left: 10px;
        overflow-y: scroll; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child2 .force-overflow {
          min-height: 450px; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child2 #style-1::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #F1F1F1; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child2 #style-1::-webkit-scrollbar {
          width: 12px;
          background-color: #F1F1F1; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child2 #style-1::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #FFF; }
        .content-div .main-div-3 .div-3-2 .div-3-2-child2 .child-2-A {
          border-bottom: 1px solid #F2F3F8;
          height: 50px; }
          .content-div .main-div-3 .div-3-2 .div-3-2-child2 .child-2-A .li-A-a {
            list-style-type: square;
            color: #A2A0A6; }
          .content-div .main-div-3 .div-3-2 .div-3-2-child2 .child-2-A .A-a {
            font-size: 12px;
            color: #A2A0A6; }
          .content-div .main-div-3 .div-3-2 .div-3-2-child2 .child-2-A .A-b-btn {
            font-size: 12px !important;
            border: 1px solid #4CB393;
            background-color: #4CB393; }
          .content-div .main-div-3 .div-3-2 .div-3-2-child2 .child-2-A .A-b-btn1 {
            font-size: 12px !important;
            border: 1px solid #F3565D;
            background-color: #F3565D; }
          .content-div .main-div-3 .div-3-2 .div-3-2-child2 .child-2-A .A-b-btn2 {
            font-size: 12px !important;
            border: 1px solid #DEB949;
            background-color: #DEB949; }
          .content-div .main-div-3 .div-3-2 .div-3-2-child2 .child-2-A .A-b-btn3 {
            font-size: 12px !important;
            border: 1px solid #89C4F3;
            background-color: #89C4F3; }
  .content-div .footer1 {
    height: 120px;
    background-color: #48525E; }
    .content-div .footer1 .td-A {
      width: 250px; }
      .content-div .footer1 .td-A .td-A-h5 {
        font-weight: bold;
        color: #4CB393; }
      .content-div .footer1 .td-A .td-A-h6 {
        color: #FFFFFF; }
    .content-div .footer1 .td-B {
      width: 250px; }
      .content-div .footer1 .td-B .td-B-h5 {
        font-weight: bold;
        color: #4CB393; }
      .content-div .footer1 .td-B .td-B-btn1 {
        border: 1px solid #343B45;
        background-color: #343B45;
        color: #FFFFFF; }
      .content-div .footer1 .td-B .td-B-btn2 {
        border: 1px solid #4CB393;
        background-color: #4CB393;
        color: #FFFFFF; }
    .content-div .footer1 .td-C {
      width: 250px; }
      .content-div .footer1 .td-C .td-C-h5 {
        font-weight: bold;
        color: #4CB393; }
    .content-div .footer1 .td-D {
      width: 250px; }
      .content-div .footer1 .td-D .td-D-h5 {
        font-weight: bold;
        color: #4CB393; }
      .content-div .footer1 .td-D .td-D-h6 {
        color: #FFFFFF; }
  .content-div .footer2 {
    height: 50px;
    background-color: #3B444D; }
    .content-div .footer2 .footer2-h6 {
      color: #FFFFFF;
      margin-left: 130px; }

/*# sourceMappingURL=style.css.map */
