$cyon-color :	 #4CB393;
body {
	padding: 0 !important;
	margin: 0 !important;
}
.header-name{
	font-family:'Josefin Sans', sans-serif;
	color: $cyon-color;
	padding-left: 150px;
	font-size:26px;
}
.notification{
		padding-left:700px;
		padding-right:40px
}
 	#noti_Button {
        margin-top:20px ;
        cursor:pointer;
        width:30px;
        margin-left: 650px;
        margin-right:30px;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin:8px 0 0 675px;
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:1;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:430px;
        position:absolute;
        margin-left: 650px;
        top:30px;
        left:0;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 0;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:10px;
    }
        
    h3 {
        display:block;
        color:#333; 
        background:#FFF;
        font-weight:bold;
        font-size:13px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }
        
    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }
.calender{
	margin-left: 20px;
	width:85px;
	border:1px solid #FFFFFF;
}
.vertical-line{
	border: 1px solid;
	height:20px;
	border-color:#ccc;
	margin-left:20px;
}
.dp{
	padding-left:20px;
}
.name{
	font-family:'Josefin Sans', sans-serif;
	color: $cyon-color;
	padding-left: 20px;
	font-size: 18px;
}
.navbar-header{
	a{
		padding-left:200px;
	}
}
.form-control{
	background-color: black !important;
	opaticity: 0.9;
	border-color: black !important;
}
.search_btn{
	background-color: black !important;
	opaticity: 0.9;
	border-color: black !important;
}
.user-div{
	border-div:1px solid;
	.user{	
		color: #959CA1;
		position: relative;
		float:left;
	}
	.sm-user{
		padding-left:10px;
		color:#959CA1;
		font-size:12px;
	}
	.fa-cog{
		color:#959CA1;
	}
	.set_symbol{
		position: relative;
		float: right;	
		margin-top: 25px;
	}
}
.content-div{
	background-color: #ccc;
	height: 900px;
	padding-top:20px;
	.main-div-1{
		width: 260px;
		height:700px;
		margin-left: 150px;
		margin-top:20px;
		display:inline-block;
		float:left;
		.div-1-1{
			height:350px;
			width: 258px;
			margin-top:10px;
			background-color:#FFFFFF;
			.profile-img{
				margin-left: 80px;
				margin-top: 25px;
			}
			h4{
				margin-left:90px;
			}
			h6{
				margin-left:90px;
				color: #72B5E1;
			}
			.btn-1{
				border-radius:8px;
				background-color:#44B4AD;
				font-size:10px;
				margin-left:70px;
				color:#FFFFFF;
				text-align: center;
				border: 1px solid #44B4AD;
			}
			.btn-2{
				border-radius:8px;
				background-color:#F3565D;
				font-size:10px;
				text-align: center;
				color:#FFFFFF;
				border: 1px solid #F3565D;
			}
			.list-home{
				list-style-type: none;
				margin-left: 0 !important;
				vertical-align: top;
				margin-top:25px;
				height: 30px;
				.home{
					color:#A1ACC9;
					margin-left:35px;
				}
			}
			.list-home:hover{
				border-left: 1px solid #A1ACC9;
				background-color:#F5F9FC;
			}
			.list-set{
				list-style-type: none;
				margin-left: 0 !important;
				vertical-align: top;
				height: 30px;
				.cog{
					color:#A1ACC9;
					margin-left:35px;
				}
			}
			.list-set:hover{
				border-left: 1px solid #A1ACC9;
				background-color:#F5F9FC;
			}
			.list-task{
				list-style-type: none;
				margin-left: 0 !important;
				vertical-align: top;
				height: 30px;
				.clock{
					color:#A1ACC9;
					margin-left:35px;
				}
			}
			.list-task:hover{
				border-left: 1px solid #A1ACC9;
				background-color:#F5F9FC;
			}
			.list-help{
				list-style-type: none;
				margin-left: 0 !important;
				vertical-align: top;
				height: 30px;
				.help{
					color:#A1ACC9;
					margin-left:35px;
				}
			}
			.list-help:hover{
				border-left: 1px solid #A1ACC9;
				background-color:#F5F9FC;
			}
		}	
		.div-1-2{
			border:1px solid #FFFFFF;
			height:285px;
			width: 258px;
			margin-top:20px;
			background-color:#FFFFFF;
			.div-1-2-child1{
				height:55px;
				$height: 55px;
				$width: 80px;
				margin-top:30px;
				.child1-div1{
					display:inline-block;
					height:$height;
					width:$width;
					float:left;
					.child1-div1-h3{
						text-align:center;
						color:#C2C2CB;
						margin: 0 !important;
						padding:0 !important;
					}
					.child1-div1-h6{
						text-align:center;
						color:#5C9BD0;
						font-size:10px !important;
						margin: 0 !important;
						padding:0 !important;
						font-weight:bold;
					}
				}
				.child1-div2{
					display:inline-block;
					height:$height;
					width:$width;
					.child1-div2-h3{
						text-align:center;
						color:#C2C2CB;
						margin: 0 !important;
						padding:0 !important;
					}
					.child1-div2-h6{
						text-align:center;
						color:#5C9BD0;
						font-size:10px !important;
						margin: 0 !important;
						padding:0 !important;
						font-weight:bold;
					}
				}
				.child1-div3{
					display:inline-block;
					height:$height;
					width:$width;
					.child1-div3-h3{
						text-align:center;
						color:#C2C2CB;
						margin: 0 !important;
						padding:0 !important;
					}
					.child1-div3-h6{
						text-align:center;
						color:#5C9BD0;
						font-size:10px !important;
						margin: 0 !important;
						padding:0 !important;
						font-weight:bold;
					}
				}
			}
			.div-1-2-child2{
				height: 70px;
				width:220px;
				margin-left:10px;
				.child2-h4{
					color:#7F8FA7;
					font-weight:bold;
				}
				.child2-h5{
					color:#7F8FA7;
					margin:0 !important;
					padding:0 !important;
				}
			}
			.div-1-2-child3{
				width:220px;
				margin-left:10px;
				height:90px;
				.ch3-symb1{
					height:35px;
					.symb1{
						margin-left:20px;
						color:#7F8FA7;
					}
				}
				.ch3-symb2{
					height:35px;
					.symb2{
						margin-left:20px;
						color:#7F8FA7;
					}
				}
				.ch3-symb3{
					height:35px;
					.symb3{
						margin-left:20px;
						color:#7F8FA7;
					}
				}
			}
		}	
	}	
	.main-div-2{
		width: 380px;
		height:700px;
		margin-left: 20px;
		margin-top:20px;
		display:inline-block;
		.div-2-1{
			height:320px;
			width: 370px;
			background-color:#FFFFFF;
			margin-top:10px;
			h6{
				color: #72B5E1;
				margin-left: 20px;
				margin-top: 20px;
				font-weight: bold;
			}
			.btn-2-1{
				border: 1px solid #FFFFFF;
				background-color:#FFFFFF;
				text-align: center;
				margin-left: 60px;
				margin-top:10px;
			}
			.btn-2-1:hover{
				background-color:black;
				border-radius:8px;
				color:#FFFFFF;
			}
			.btn-2-2{
				border: 1px solid #FFFFFF;
				background-color:#FFFFFF;
				text-align: center;
				margin-left: 15px;
				margin-top:10px;
			}	
			.btn-2-2:hover{
				background-color:black;
				border-radius:8px;
				color:#FFFFFF;
			}
			.btn-2-3{
				border: 1px solid #FFFFFF;
				background-color:#FFFFFF;
				text-align: center;
				margin-left: 15px;
				margin-top:10px;
			}
			.btn-2-3:hover{
				background-color:black;
				border-radius:8px;
				color:#FFFFFF;
			}
			.h-line-1{
				border-top: 1px solid;
				border-color:#CCDDE8;
			}
			.graph-div-1{
				margin-top:5px;
				width: 165px;
				height:45px;
				padding-left: 20px;
				margin-left:20px;
				.header-name-1{
					margin-top:10px;
					display: inline-block;
					float:left;
				}
				.total{
					margin:0;
					padding:0;
					color:#8D9BA9;
				}
				.num{
					margin:0;
					padding:0;
					color:#8D9BA9;
				}
				.graph-1{
					float:right;
					display: inline-block;
					.bar-right{
						margin-left: 0 !important;
						padding-left:0 !important;
						margin-right:20px;
						margin-top: 10px;
						color:#F36A5A;
						-webkit-transform: rotate(-90deg);
    					-moz-transform: rotate(-90deg);
   						-ms-transform: rotate(-90deg);
   						 -o-transform: rotate(-90deg);
    					transform: rotate(-90deg);
					}
				}
			}
			.graph-div-2{
				border-left: 1px solid #F8F8F8;
				margin-top:5px;
				width: 165px;
				height:45px;
				.header-name-2{
					margin-top:10px;
					float:right;
				}
				.total{
					margin:0;
					padding:0;
					color:#8D9BA9;
				}
				.num{
					margin:0;
					padding:0;
					color:#8D9BA9;
				}
				.graph-2{
					float:left;
					display: inline-block;
					.bar-left{
						margin-left: 30px !important;
						margin-top: 10px;
						color:#5C9AD0;
						-webkit-transform: rotate(90deg);
    					-moz-transform: rotate(90deg);
   						-ms-transform: rotate(90deg);
   						 -o-transform: rotate(90deg);
    					transform: rotate(90deg);
					}
				}
			}
			.th-div-2-1{
				padding: 8px;
    			text-align: left;
    			border-bottom: 1px solid #ddd;
    			color:#8D9BA9;
			}	
			.td-div-2-1{
				padding: 8px;
    			text-align: left;
    			border-bottom: 1px solid #ddd;
    			.name-pr{
    				color: #5C9AD0;
    				margin-left:2px;
    				display: inline-block;
    			}
    			.data{
    				color: #8D9BA9;
    			}
    			.data-rate{
    				color: $cyon-color;	
    			}
			}
		}	
		.div-2-2{
			height:330px;
			width: 370px;
			background-color:#FFFFFF;
			margin-top:20px;
			.div-2-2-child1{
				border-bottom: 1px solid #A2A0A6;
				margin-left: 10px;
				margin-right:5px;
				height: 50px;
				.child1-2-div1{
					display:inline-block;
					float:left;
					.child1-2-h5{
						color: #72B5E1;
						margin-5eft: 10px;
						margin-top: 10px;
						font-weight: bold;
						font-size:15px !important;
					}
				}
				.child1-2-div2{
					display:inline-block;
					float:left;
					.child1-2-h6{
						margin-left:3px;
						color:#A2A0A6;
						margin-top:15px;
					}
				}
				.child1-2-div3{
					display:inline-block;
					float:left;
					.frm-control{
						width:80px;
						color:#FFFFFF;
						background-color:#F2F3F8;
						border:1px solid #F2F3F8;
					}
					.srch-btn{
						height:23px;
						background-color:#F2F3F8;
						border:1px solid #F2F3F8;
						color:#A2A0A6;
					}
				}
			}
			.div-2-2-child2{
				height:270px;
				margin-top:5px;
				.child2-div1{
					border-bottom:1px solid #F2F3F8;
					margin-left:5px;
					height:90px; 
					.a{
						margin-left: 3px;
						color:#588DBD;
						font-size:12px;
						font-weight:bold;
					}
					.b{
						color:#8E9ABE;
						margin-left:20px;
						font-size:12px;
					}
					.c{
						color:#8E9ABE;
						margin-left:150px;
						font-size:12px;
					}
					.d{
						margin:0 !important;
						padding:0 !important;
						color:#8E9ABE;
					}
				}
			}
		}	
	}
	.main-div-3{
		width: 380px;
		height:700px;
		margin-left: 20px;
		margin-top:20px;
		display:inline-block;
		.div-3-1{
			height:320px;
			width: 370px;
			background-color:#FFFFFF;
			margin-top:10px;
			.child-div{
				height:310px;
				width: 350px;
				background-color:#FFFFFF;
				margin-top:10px;
				margin-left:10px;
				margin-right:10px;
				.div-3-1-hline{
					border-bottom: 1px solid #8D9BA9;
				}
				.div-3-1-h5{
					color: #72B5E1;
					margin-left:20px;
					font-weight: bold;
				}
				.div-3-1-btn1{
					height:38px;
					width:80px;
					margin-left:110px;
					border:none;
					background-color:#FFFFFF;
				}
				.div-3-1-btn2{
					height:38px;
					width:80px;
					border:none;
					background-color:#FFFFFF;
				}
				.div-3-1-btn1:hover{
					border-bottom: 3px solid #F3565D;
				}
				.div-3-1-btn2:hover{
					border-bottom: 3px solid #F3565D;
				}
			}
			.child-div1{
				margin-top:10px;
				height:200px;
				.ch-tr-1{
					background-color:#FAFAFA;
					.symb-1{
          				border: 1px solid;
          				background-color:$cyon-color;
          				width: 32px;
          				height:32px;
          				color: #FFFFFF;
          				text-align:center;
          				padding-top: 7px;
        			}
        			.child-div1-h6{
        				margin-left: 6px;
        			}
        			.ch-td-btn{
        				margin-left:5px;
        				height:20px;
        				text-align:center;
        				background-color:#88C4F2;
        				border:1px solid #88C4F2;
        				color:#FFFFFF;
        			}
        			.ch-td1-sp{
        				margin-left:10px;
        				font-style:italic;
        				font-size:12px;
        				color:#8D9BA9;
        			}
				}
				.ch-tr-2{
					background-color:#FAFAFA;
					.symb-2{
          				border: 1px solid;
          				background-color:$cyon-color;
          				width: 32px;
          				height:32px;
          				color: #FFFFFF;
          				text-align:center;
          				padding-top: 7px;
        			}
        			.ch-td2-h6{
        				margin-left: 8px;
        				color:#96BBE2;
        			}
        			.ch-td2-sp{
        				margin-left:70px;
        				font-style:italic;
        				font-size:12px;
        				color:#8D9BA9;
        			}
				}
				.ch-tr-3{
					background-color:#FAFAFA;
					.symb-3{
          				border: 1px solid;
          				background-color:#F3565D;
          				width: 32px;
          				height:32px;
          				color: #FFFFFF;
          				text-align:center;
          				padding-top: 7px;
        			}
        			.ch-td3-h6{
        				margin-left: 8px;
        				width:230px;
        			}
        			.ch-td3-sp{
        				margin-left:20px;
        				font-style:italic;
        				font-size:12px;
        				color:#8D9BA9;
        			}
				}
				.ch-tr-4{
					background-color:#FAFAFA;
					.symb-4{
          				border: 1px solid;
          				background-color:#88C4F2;
          				width: 32px;
          				height:32px;
          				color: #FFFFFF;
          				text-align:center;
          				padding-top: 7px;
        			}
        			.ch-td4-h6{
        				margin-left: 8px;
        				width:230px;
        			}
        			.ch-td4-sp{
        				margin-left:20px;
        				font-style:italic;
        				font-size:12px;
        				color:#8D9BA9;
        			}
				}
				.ch-tr-5{
					background-color:#FAFAFA;
					.symb-5{
          				border: 1px solid;
          				background-color:#DFBA4B;
          				width: 32px;
          				height:32px;
          				color: #FFFFFF;
          				text-align:center;
          				padding-top: 7px;
        			}
        			.ch-td5-h6{
        				margin-left: 8px;
        				width:230px;
        			}
        			.ch-td5-sp{
        				margin-left:15px;
        				font-style:italic;
        				font-size:12px;
        				color:#8D9BA9;
        			}
				}
				.ch-tr-6{
					background-color:#FAFAFA;
					.symb-6{
          				border: 1px solid;
          				background-color:$cyon-color;
          				width: 32px;
          				height:32px;
          				color: #FFFFFF;
          				text-align:center;
          				padding-top: 7px;
        			}
        			.ch-td6-h6{
        				margin-left: 8px;
        				width:230px;
        			}
        			.ch-td6-sp{
        				margin-left:20px;
        				font-style:italic;
        				font-size:12px;
        				color:#8D9BA9;
        			}
				}
			}
		}	
		.div-3-2{
			height:330px;
			width: 370px;
			background-color:#FFFFFF;
			margin-top:20px;
			.div-3-2-child1{
				border-bottom: 1px solid #F2F3F8;
				height:50px;
				.child1-A{
					font-size: 16px;
					font-weight:bold;
					color:#588DBD;
					margin-left:15px;
				}
				.child1-B{
					color:#A2A0A6;
					margin-left: 5px;
				}
				.fm-control{
					width:100px;
					color:#FFFFFF;
					background-color:#F2F3F8;
					border:1px solid #F2F3F8;
					margin-left:60px;
				}
				.srch-btn1{
					height:23px;
					background-color:#F2F3F8;
					border:1px solid #F2F3F8;
					color:#A2A0A6;
				}
			}
			.div-3-2-child2{
				height: 250px;
				margin-left: 10px;
				overflow-y: scroll;
				.force-overflow{
					min-height: 450px;
				}
				#style-1::-webkit-scrollbar-track{
	               -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	               border-radius: 10px;
	               background-color: #F1F1F1;
                }
                #style-1::-webkit-scrollbar{
					width: 12px;
					background-color: #F1F1F1;
				}
				#style-1::-webkit-scrollbar-thumb{
					border-radius: 10px;
	                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
					background-color: #FFF;
				}
				.child-2-A{
					border-bottom:1px solid #F2F3F8;
					height:50px;
					.li-A-a{
						list-style-type: square;
						color: #A2A0A6;
					}					
					.A-a{
						font-size:12px;
						color:#A2A0A6;
					}
					.A-b-btn{
						font-size: 12px !important;
						border:1px solid $cyon-color;
						background-color:$cyon-color;
					}
					.A-b-btn1{
						font-size: 12px !important;
						border:1px solid #F3565D;
						background-color:#F3565D;
					}
					.A-b-btn2{
						font-size: 12px !important;
						border:1px solid #DEB949;
						background-color:#DEB949;
					}
					.A-b-btn3{
						font-size: 12px !important;
						border:1px solid #89C4F3;
						background-color:#89C4F3;
					}
				}
			}
		}	
	}
	.footer1{
		height:120px;
		background-color:#48525E;
		.td-A{
			width: 250px;
			.td-A-h5{
				font-weight:bold;
				color:$cyon-color;
			}
			.td-A-h6{
				color:#FFFFFF;
			}
		}
		.td-B{
			width: 250px;
			.td-B-h5{
				font-weight:bold;
				color:$cyon-color;
			}
			.td-B-btn1{
				border: 1px solid #343B45;
				background-color:#343B45;
				color:#FFFFFF;
			}
			.td-B-btn2{
				border: 1px solid $cyon-color;
				background-color:$cyon-color;
				color:#FFFFFF;
			}
		}
		.td-C{
			width: 250px;
			.td-C-h5{
				font-weight:bold;
				color:$cyon-color;
			}
		}
		.td-D{
			width: 250px;
			.td-D-h5{
				font-weight:bold;
				color:$cyon-color;
			}
			.td-D-h6{
				color:#FFFFFF;
			}
		}
	}
	.footer2{
		height:50px;
		background-color:#3B444D;
		.footer2-h6{
			color: #FFFFFF;
			margin-left:130px;
		}
	}
}	
